@use "./variables"as *;

* {
    padding: auto;
    margin: auto;
    box-sizing: border-box;

}

body {
    background: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 600px;
    background-color: $body-bg;

    .navBar {
        display: flex;
        width: 100%;
        height: 125px;
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: $nav-bg;
        border-radius: 5px;

        .navBar__blog {
            top: 40px;
            font-family: $about-font;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            color: $blog-color;
        }

        .navBar__skills {
            text-decoration: none;
            top: 55px;
            color: $blog-color;
            font-weight: bold;
            font-size: 20px;
        }

        .navBar__about {
            text-decoration: none;
            top: 55px;
            color: $blog-color;
            font-weight: bold;
            font-size: 20px;
        }

        .navBar__project {
            text-decoration: none;
            top: 55px;
            color: $blog-color;
            font-weight: bold;
            font-size: 20px;
        }

        .navBar__getintouch {
            text-decoration: none;
            top: 55px;
            font-weight: bold;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $blog-color;
            font-size: 20px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

    }

    .header {
        text-align: center;
        position: relative;
        top: 300px;
        font-weight: bold;
        font-size: 50px;
        color: $blog-color;
    }

    .project {
        position: relative;
        top: 800px;
        font-weight: bold;
        font-size: 40px;
        color: $cap-color;
        margin-left: 10px;
        text-align: center;
        color: $blog-color;
        .pro__container {
            margin-top:50px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .pro__element {
            padding: 10px;
            text-align: center;
            font-size: 25px;
            display: inline-block;
            width: 200px;
            height: 200px;
        }

        

    }
      
    .skill {
        padding: 10px;
        position: relative;
        top: 550px;
        font-weight: bold;
        font-size: 40px;
        color: $cap-color;
        margin-left: 5px;
        text-align: center;
        color: $blog-color;
        .flex-container {
            margin-top: 150px;
            display: flex;
            flex-wrap: wrap;
            font-size: 30px;
            text-align: center;
        }

        .flex-item-css {
            height: 100px;
            width: 80px;
        }

        .flex-item-html {
            margin-top: 20px;
            height: 100px;
            width: 80px;
        }

        .flex-item-sass {
            height: 100px;
            width: 80px;
        }

        .flex-item-github {
            height: 80px;
            width: 60px;
        }

        .flex-item-java {
            height: 80px;
            width: 60px;
        }
    }

    .about {
        padding: 10px;
        position: relative;
        top: 350px;
        font-weight: bold;
        font-size: 30px;
        line-height: 79px;
        font-family: $about-font;
        color: $nav-color;

    }

    .getintouch {
        padding: 10px;
        position: relative;
        height: 300px;
        top: 550px;
        font-weight: bold;
        font-size: 40px;
        line-height: 19px;
        color: $cap-color;

        .flex-container {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            font-size: 30px;
            text-align: center;
        }

        .flex-item {
            height: 80px;
            width: 80px;
        }

    }

}