@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Russo+One&display=swap");
* {
  padding: auto;
  margin: auto;
  box-sizing: border-box;
}

body {
  background: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 2000px 600px;
  background-color: #b2e7eb;
}
body .navBar {
  display: flex;
  width: 100%;
  height: 125px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #8C9CB1;
  border-radius: 5px;
}
body .navBar .navBar__blog {
  top: 40px;
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  color: #310c89;
}
body .navBar .navBar__skills {
  text-decoration: none;
  top: 55px;
  color: #310c89;
  font-weight: bold;
  font-size: 20px;
}
body .navBar .navBar__about {
  text-decoration: none;
  top: 55px;
  color: #310c89;
  font-weight: bold;
  font-size: 20px;
}
body .navBar .navBar__project {
  text-decoration: none;
  top: 55px;
  color: #310c89;
  font-weight: bold;
  font-size: 20px;
}
body .navBar .navBar__getintouch {
  text-decoration: none;
  top: 55px;
  font-weight: bold;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #310c89;
  font-size: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
body .header {
  text-align: center;
  position: relative;
  top: 300px;
  font-weight: bold;
  font-size: 50px;
  color: #310c89;
}
body .project {
  position: relative;
  top: 800px;
  font-weight: bold;
  font-size: 40px;
  color: #272643;
  margin-left: 10px;
  text-align: center;
  color: #310c89;
}
body .project .pro__container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
body .project .pro__element {
  text-align: center;
  font-size: 30px;
}
body .skill {
  padding: 10px;
  position: relative;
  top: 550px;
  font-weight: bold;
  font-size: 40px;
  color: #272643;
  margin-left: 5px;
  text-align: center;
  color: #310c89;
}
body .skill .flex-container {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
body .skill .flex-item-css {
  height: 100px;
  width: 80px;
}
body .skill .flex-item-html {
  margin-top: 20px;
  height: 100px;
  width: 80px;
}
body .skill .flex-item-sass {
  height: 100px;
  width: 80px;
}
body .skill .flex-item-github {
  height: 80px;
  width: 60px;
}
body .skill .flex-item-java {
  height: 80px;
  width: 60px;
}
body .about {
  padding: 10px;
  position: relative;
  top: 350px;
  font-weight: bold;
  font-size: 30px;
  line-height: 79px;
  font-family: "Russo One", sans-serif;
  color: #170F49;
}
body .getintouch {
  padding: 10px;
  position: relative;
  height: 300px;
  top: 550px;
  font-weight: bold;
  font-size: 40px;
  line-height: 19px;
  color: #272643;
}
body .getintouch .flex-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
body .getintouch .flex-item {
  height: 80px;
  width: 80px;
}