@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Russo+One&display=swap");
* {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 2000px 600px;
  background-color: #170F49;
}
body .navBar {
  display: flex;
  width: 100%;
  height: 125px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #8C9CB1;
  border-radius: 5px;
  justify-content: space-around;
  text-align: center;
}
body .navBar .navBar__blog {
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-size: 42px;
  color: #e5e4e2;
  display: flex;
  align-items: center;
  text-align: center;
}
body .navBar .navBar__skills {
  text-decoration: none;
  color: #e5e4e2;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
body .navBar .navBar__about {
  text-decoration: none;
  color: #e5e4e2;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
body .navBar .navBar__project {
  text-decoration: none;
  color: #e5e4e2;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
body .navBar .navBar__getintouch {
  text-decoration: none;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #e5e4e2;
  font-size: 20px;
}
body .header {
  text-align: center;
  position: relative;
  top: 250px;
  font-weight: bold;
  font-size: 50px;
  color: #e5e4e2;
}
body .skill {
  padding: 10px;
  position: relative;
  top: 550px;
  font-weight: bold;
  font-size: 40px;
  color: #272643;
  margin-left: 5px;
  text-align: center;
  color: #e5e4e2;
}
body .skill .flex-container {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 30px;
  text-align: center;
}
body .skill .flex-container .flex-item-css {
  height: 100px;
  width: 80px;
}
body .skill .flex-container .flex-item-html {
  height: 100px;
  width: 80px;
}
body .skill .flex-container .flex-item-sass {
  height: 100px;
  width: 80px;
}
body .skill .flex-container .flex-item-github {
  height: 80px;
  width: 60px;
}
body .skill .flex-container .flex-item-java {
  height: 80px;
  width: 60px;
}
body .project {
  position: relative;
  top: 800px;
  font-weight: bold;
  font-size: 40px;
  color: #272643;
  margin-left: 10px;
  text-align: center;
  color: #e5e4e2;
}
body .project .pro__container {
  display: flex;
  justify-content: space-around;
}
body .project .pro__container .container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
}
body .project .pro__container .container .pro-head {
  font-size: 25px;
  font-weight: bold;
  color: brown;
}
body .project .pro__container .container .pro-image {
  width: 100px;
  height: 150px;
}
body .about {
  padding: 10px;
  position: relative;
  top: 950px;
  font-weight: bold;
  font-size: 30px;
  line-height: 79px;
  font-family: "Russo One", sans-serif;
  color: #b7b4ce;
}
body .getintouch {
  padding: 10px;
  position: relative;
  height: 300px;
  top: 1250px;
  font-weight: bold;
  font-size: 40px;
  line-height: 19px;
  color: #272643;
}
body .getintouch .flex-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
body .getintouch .flex-item {
  height: 80px;
  width: 80px;
}/*# sourceMappingURL=newStyle.css.map */