
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Russo+One&display=swap');
$about-font: 'Russo One', sans-serif;
$nav-color:#170F49;
$blog-color:rgb(49, 12, 137);
$cap-color:#272643;
$nav-bg:#8C9CB1;
$body-bg:#b2e7eb;
$blog-font:'Rubik Dirt', cursive;


