
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Russo+One&display=swap');
$about-font: 'Russo One', sans-serif;
$nav-color:#b7b4ce;
$blog-color: #e5e4e2;
$cap-color:#272643;
$nav-bg:#8C9CB1;
$body-bg:#170F49;
$blog-font:'Rubik Dirt', cursive;


